body {
  font-family: Helvetica; /*Since per spec the font is the same for the whole page. In case of changes in design selectors below can override it.*/
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

strong {
  font-weight: bold;
  color: blue;
}

.brush {
  background-color: mediumspringgreen;
}

.frame {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}
